*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: #26082a;
}
.navbar{
    background-color: #26082a;
    height: 104px;
    padding: 10px 50px;
}
button.navbar-toggler{
    color: white;
    outline: none;
}
.collapse .nav-item a{
    color: white;
    font-size: 16px;
}
.navbar-nav .btn{
    width: 285px;
    padding: 20px 10px;
    font-size: 16px;
    display: flex;
    justify-content: space-around;
    background-color: white;
    color: black;
    font-weight: bold;
    border: none;
}
.btn:hover{
    background-color: white;
    color: black;
}
.right-arrow {
    margin-top: 3px;
    margin-left: -47px;
    height: 19px;
    background-color: white;
    /* position: absolute;
    right: 0; */
    
}
.dropdown .btn{
    margin: 7px;
    width: 132px;
    padding: 20px;
    border: none;
    background-color: white;
    color: black;
    font-size: 16px;
    font-weight: bold;

}
#navlinks{
    color: black;
}
.text1{
    font-size: 18px;
    font-weight: 600;
}
.text2{
    font-size: 48px;
    font-weight: 600;
}
.cal-img{
    background-color: white;
    border-radius: 3px;
}
.span1{
    color: white;
}
.buttons a{
    color: white;
    text-decoration: none;
}
.buttons{
    width: 155px;
    /* color: white; */
}
.paragraph{
    color: white;
}
.form-labal{
    color: white;
}
.h1-contact{
    color: white;
}